.navbar-brand img {width: 100px}

.footer{
  background: #f0f0f0;
  height: 68px;
  padding: 10px;
  color: #000;
  margin-top: 30px;
}
.wrapCon{
  min-height: calc(100% - 98px);
}

html, body {
    height: 100%;
    width: 100%;
  }

.sub{
  font-size: 0.6em;
}
hr{
  padding: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.topPar div{
  text-overflow: hidden;
  white-space: nowrap;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.hline .firstLine{
  border-bottom: 1px ridge gray;
  padding-bottom: 3px;
}
.fontStatic{
  font-size: 14px;
  color: gray;
}
.fontVariable{
  font-size: 14px;
  font-weight: bold;
}
.content{
  border-left: 1px solid black;
}
.square:hover{
  box-shadow: 0 0 10px red;
}
.square div{
  border: 1px solid black;
  padding: 3px;
  overflow: hidden;
}
.tableCell div div {
  border: 1px solid black;
  padding: 3px;
  overflow: hidden;
  text-align: center;
}
.tableCell .row{
  width: 100%;
}

Input.widthInput{
  width: 150px;
}
